:root {
  --theme-color1: #f2aa4c;
  --theme-color2: #505864;
  --theme-color3: #fff;
  --theme-color4: #86fb5d;
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

.header-section {
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  width: 150px;
}
.logo-text {
  font-size: 35px;
  color: var(--theme-color1);
}

.menu {
  display: flex;
}

.menu-items {
  font-size: 24px;
  color: var(--theme-color2);
  padding: 0px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.active {
  color: var(--theme-color1);
}

/* burger menu */
.container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--theme-color2);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.menu-mobile-section {
  display: none;
}

.home-section {
  background-image: url("./assets/home.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-items {
  padding: 10%;
}

.home-title {
  font-size: 60px;
  color: var(--theme-color2);
}
.home-line {
  background-color: var(--theme-color1);
  height: 10px;
  border-radius: 30px;
  border-color: var(--theme-color1);
}

.home-sub-title {
  font-size: 28px;
  color: var(--theme-color3);
  line-height: 60px;
  font-family: "Roboto Condensed", sans-serif;
}

/* about Us */
.about-us-section {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.about-us-childs {
  width: 50%;
}

.about-us-childs:nth-child(1) {
  background-color: var(--theme-color2);
  color: var(--theme-color3);
  text-align: center;
}

.about-us-childs:nth-child(2) {
  background-color: var(--theme-color1);
}

.about-us-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 850px;
  padding: 0px 90px;
}

.about-highlighter {
  color: var(--theme-color4);
}

.about-us-title {
  font-size: 50px;
  padding: 40px;
  word-spacing: 20px;
}

.services-title {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  color: var(--theme-color2);
  word-spacing: 20px;
}

.about-us-para {
  font-size: 24px;
  line-height: 50px;
}

.with-padding {
  height: 30px;
}

.about-us-image {
  width: 60%;
  min-width: 300px;
  padding: 50px 0px;
}

.about-us-padding {
  height: 850px;
}

.about-us-para {
  padding: 20px;
}

.about-us-image-title {
  color: var(--theme-color3);
  font-size: 30px;
}

.services-section {
  background-image: url("assets/service-section-shape.svg");
  background-color: var(--theme-color1);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service-section-item {
  width: 50%;
}

.service-section-item:nth-child(1) {
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-section-image {
  width: 100%;
}

.service-section-item:nth-child(2) {
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-sub-content {
  padding: 40px;
  color: var(--theme-color3);
  font-size: 25px;
  letter-spacing: 2px;
}

.footer {
  font-size: 25px;
  text-align: center;
  color: var(--theme-color2);
  background-color: var(--theme-color1);
  padding: 20px 20px;
}


.client-section-image-placeholder {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-section-image-placeholder::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  background-image: url("assets/clients.jpg");
  background-color: var(--theme-color1);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.client-section-card {
  position: relative;
  background-color: var(--theme-color2);
  color: var(--theme-color1);
  border-radius: 10px;
  margin: 30px;
}

.client-section-padding-content {
  padding: 60px;
  letter-spacing: 1px;
  font-size: 20px;
}
.client-content {
  padding: 10px;
}

.client-card-title {
  color: var(--theme-color1);
  font-size: 30px;
  text-decoration-color: var(--theme-color3);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--theme-color3);
}

.client-para {
  position: relative;
  width: 50%;
  padding: 30px;
  color: var(--theme-color2);
  font-size: 20px;
}

.client-para-content {
  padding: 8px 0px;
  text-align: justify;
}

.client-highlighter {
  color: var(--theme-color1);
}

.contact-us-section {
  background-color: var(--theme-color1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-image {
  width: 50%;
  min-width: 300px;
  padding: 50px 0px;
  margin: 20px;
}

.contact-us-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--theme-color2);
}

.contact-content-title {
  color: var(--theme-color3);
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}

.cell-highlighter {
  color: var(--theme-color3);
}

.contact-content-sub-title {
  line-height: 30px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .menu-items {
    display: none;
  }
  
  .container {
    display: inline-block;
    position: fixed;
    padding: 10px;
    right: 20px;
    top: 20px;
    background-color: var(--theme-color1);
  }
  .header-section {
    padding: 10px 10px;
    justify-content: space-between;
  }

  .logo-text {
    padding: 10px;
  }

  .bar1,
  .bar2,
  .bar3 {
    background-color: var(--theme-color3);
  }

  .menu-mobile-section {
    height: 100vh;
    width: 100%;
    background-color: var(--theme-color2);
    display: inline-block;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    transition: 0.4s;
    left: 100%;
  }
  .menu-mobile-section-show {
    display: flex;
    visibility: visible;
    left: 0%;
  }
  .menu-mobile-items {
    padding: 20px;
    font-size: 22px;
    color: var(--theme-color3);
    transition: 0.4s;
    cursor: pointer;
  }
  .active-mobile {
    color: var(--theme-color1);
  }

  .home-items {
    padding: 120px 20px;
    text-align: right;
  }

  /* about us section for mobile view */
  .about-us-section {
    display: block;
  }

  .about-us-childs {
    width: 100%;
    padding: 30px 0px;
  }

  .about-us-padding {
    padding: 30px;
    height: max-content;
  }
  .about-us-contents {
    height: max-content;
    padding: 120px 0px;
  }

  .services-section {
    background-image: none;
    background-color: var(--theme-color2);
  }

  .services-section {
    flex-direction: column-reverse;
  }

  .service-sub-content {
    text-align: center;
  }

  .service-section-item {
    width: 100%;
    height: min-content !important;
  }
  .service-section-item:nth-child(1) {
    justify-content: center;
  }

  .client-section-image-placeholder {
    flex-direction: column;
  }
  
  .client-para {
    width: 100%;
  }

  /* contact us mobile */
  .contact-us-section {
    flex-direction: column;
    padding: 50px 0px;
  }

  .contact-us-content {
    width: 100%;
  }

  .content-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  .content-box {
    text-align: left;
    width: 100%;
    padding: 10%;
  }
}
